:root {
  --clear-button: #faa;
  --clear-button-hover: #e99;
  --clear-button-active: #d88;
  --delete-button: #aaf;
  --delete-button-hover: #99e;
  --delete-button-active: #88d;
  --value-hover: #ddd;
  --value-active: #ccc;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.main-container {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}

.calculator-container {
  width: 450px;
  height: auto;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.screen {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border: 1px dashed black;
  padding: 10px;
  font-size: 40px;
  margin-bottom: 24px;
  gap: 24px;
}

.last-screen,
.current-screen {
  min-height: 48px;
}

.buttons-container {
  display: flex;
  flex-direction: column;
}

.edit-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

.edit-buttons button {
  width: 197px;
  height: 75px;
  font-size: 24px;
  border-radius: 5px;
}

#clear-button {
  background-color: var(--clear-button);
}

#clear-button:hover {
  background-color: var(--clear-button-hover);
}

#clear-button:active {
  background-color: var(--clear-button-active);
}

#delete-button {
  background-color: var(--delete-button);
}

#delete-button:hover {
  background-color: var(--delete-button-hover);
}

#delete-button:active {
  background-color: var(--delete-button-active);
}

.row {
  display: flex;
}

.num,
.operator {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(408.53px / 4); 
  height: calc(408.53px / 4); /* Somehow width = height */
  border-radius: 5px;
  margin: 3px;
  font-size: 24px;
}

.row button:hover {
  background-color: var(--value-hover);
}

.row button:active {
  background-color: var(--value-active);
}